.container
{
    border: 5px solid aquamarine;
    background-color: black;
}
/* .col, .col-1,.col-3, .col-4,.col-5, col-12
{
    border: 2px solid chartreuse;
} */
#header1{
    text-align: center;
    color: whitesmoke;
}
#header2{
    border-bottom: 3px solid whitesmoke;
    padding: 10px;
}

